{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}

<div class="page-wrapper
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'en' %}
            rtl
            {% else %}
            ltr
            {% endif %}">

    <!--Page Title-->

    <section class="page-title">
        <div class="auto-container">
            <div class="inner-container clearfix">

            </div>
        </div>
    </section>

    <!--End Page Title-->

    <!-- Blog Detail -->
    <div class="blog-detail style-two">
        <div class="inner-container">
            <!-- News Block -->
            <div class="news-block-two">
                <div class="inner-box">
                     <div class="image-box">
                        <figure class="image"><img src="{{post.image_detail_head.url}}" alt=""></figure>
                    </div>

                    <div class="caption-box">
                        <div class="inner">
                            <h3>{{post.title}}</h3>
                            <ul class="info">
                                <li>{{post.created_at|date:"F j, Y"}}</li>
                                <li><a href="#">{{post.author}}</a></li>
                            </ul>
                            <p>{{post.description_one|safe}}</p>
                            <blockquote>
                                <i class="fas fa-quote-left"></i> {{post.description_blockquote|safe}}
                            </blockquote>
                            <div class="tow-column row">
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <figure class="image"><img src="{{post.image_detail_body.url}}" alt=""></figure>
                                </div>
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <p>{{post.description_two|safe}}</p>
                                </div>
                            </div>
                            <p>{{post.description_three|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tags -->
            <div class="tags clearfix">
                <span class="title">{% trans "Tags:" %}</span>
                {% for tag in tags %}
                <ul>
                    <li><a >{{tag.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <!-- Share Option -->
            <div class="share-option">
                <span class="title">{% trans "Share This:" %}</span>
                <ul class="social-icon-colored clearfix">
                    <li class="facebook"><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                    <li class="twitter"><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li class="google-plus"><a href="#"><i class="fab fa-google-plus"></i>Google Plus</a></li>
                    <li class="pinterest"><a href="#"><i class="fab fa-pinterest-p"></i>Pinterest</a></li>
                    <li class="mail"><a href="#"><i class="fas fa-envelope"></i>Mail to Friends</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="comments-column col-lg-12 col-md-12 col-sm-12">
                    <!-- Comments Area -->
                    <div class="comments-area">
                        <div class="group-title"><h2>{% trans "Comments" %}</h2></div>
                        <div class="comment-box">
                            <div id="disqus_thread"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Detail -->
</div>

<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
    this.page.url = "http://127.0.0.1:8000/{{post.get_absolute_url}}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{post.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://tester-2yrdyhsxzm.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<!-- <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
{% endblock body %}
